tornado==4.5.3
numpy==1.15.4
python_jrpc==1.1.5
interval==1.0.0
Flask==1.0.2
redis==3.0.1
MySQL_python==1.2.5
pyodbc==4.0.24
pandas==0.23.4
Werkzeug==0.14.1
pytz==2018.7
Cython==0.29.2
python_dateutil==2.7.5
flask_bootstrap==3.3.7.1
flask_login==0.4.1
flask_wtf==0.14.2
jrpc==0.1.2
matplotlib==3.0.2
psutil==5.6.6
scipy==1.2.0
talib==0.1.1
tweepy==3.7.0
ws4py==0.5.1
WTForms==2.2.1